<div class="row" >
				<p>{{ players.length }} out of 6 </p>
			</div>

            <div class="row">
                <button class="btn btn-primary" ng-click="StartGame()">Start Game</button>
                <button class="btn btn-primary" ng-click="LeaveGame()">Leave Game</button>
            </div>  

			<div class="row">
			 <div class="col-md-4" ng-repeat="player in players" ng-class="{'col-md-offset-4' : $index%2 != 0 }" >
        	  <div class="col-md-1"><img src="http://ar.gravatar.com/favicon.ico" alt="" class="img img-circle"></div>
        	  <div class="col-md-3">
        	  	<ul>
        	  		<li>{{player.name}}<em>{{player.email}}</em></li>
        	  		<li><a href="">{{player.cash}} /kyats</a></li>
                    <li>Card Num {{  (player.card.length > 0)?  player.card : "Not started" }}</li>
                    <li ng-show="isCurrentUser(player._id)"><button class="btn btn-primary" ng-class="{ 'disabled' : player.draw }" ng-click="DrawCard($index)">Draw Card</button></li>    
        	  	</ul>
        	  </div>
			</div>
			</div>