<ui-view>
    <div class="row">
            <div class="col-md-4">
                <div class="panel panel-primary">
                  <div class="panel-heading"><h3 class="panel-title"><strong> Create Room </strong></h3></div>
                  <div class="panel-body">
                    <form role="form" ng-submit="AddRoom(room)">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Name</label>
                        <input type="text" ng-model="room.name" class="form-control" id="exampleInputEmail1" placeholder="fighters...">
                      </div>
                      <div class="form-group">
                        <label for="max">Max Number</label>
                        <input type="number" ng-model="room.max" class="form-control" id="max">
                      </div>
                      <button type="submit" class="btn btn-sm btn-primary" > Add </button>
                    </form>
                  </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Panel Default</h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="room in rooms">
                            {{room.name}} - {{room.players.length}} out of {{room.max}} <button ng-class="{ 'disabled' : room.max <= room.players.length }" class="btn btn-sm btn-default" ng-click="JoinRoom($index)"> Join </button>  <button ng-class="{ 'disabled' : room.players.length !=0 }" class="btn btn-sm btn-danger" ng-click="RemoveRoom($index)"> Remove </button> 
                        </li>
                        
                    </ul>
                </div>
            </div>
    </div>
</ui-view>